:root {
    --m-bg-color: #fff;
    --m-text-color: #262626;
    --m-theme-color: rgba(17, 40, 246, 0.771);
    --m-font-amily: -apple-system;
    --m-border-color: #d5d5d5;
    --m-box-shadow: 0 1px 5px rgba(204, 204, 204, 0.1);
    --m-border-radius: 5px;
}